<% content_for :title, @page.title %>

<% content_for :head do %>
  <meta name="description" content="<%= @page.meta_description %>" />
  <meta name="keywords" content="<%= @page.meta_keywords %>" />
<% end %>

<% content_for :page_header do %>
  <%= render partial: "partials/page_header", locals: {cluster: @page.cluster} %>
<% end %>

<% content_for :page_footer do %>
  <%= render partial: "partials/page_footer" %>
<% end %>

<% if @header.present? %>
  <div class="page-banner">
    <%= raw @header %>
  </div>
<% end %>

<div class="container page-banner-over">
  <% if @internal_link.present? %>
    <div class="internal-link">
      <%= raw @internal_link %>
    </div>
  <% end %>

  <div class="row <%= @internal_link.present? ? 'content-space' : '' %>">
    <% if @content.present? %>
      <article class="main-content card col-normal-8 col-medium-12">
        <%= raw @content %>
      </article>
    <% end %>
  
    <% if @sidebar.present? %>
      <aside class="sidebar col-normal-4 col-medium-12">
        <%= raw @sidebar %>
      </aside>
    <% end %>
  </div>
</div>
