p + p {
  margin-top: 12px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;

  li + li {
    margin-top: 5px;
  }
}

.row {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.row {
  @include flex-direction(row);
  @include flex-wrap(wrap);
  width: 100%;
}

.ge-content {
  @include flexbox;
  @include flex-direction(column);
  width: 100%;
  height: 100%;
}

.row + .row .ge-content .content {
  margin-top: 24px;
}

[class*="col-"] {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
