<nav class="menu">
  <div class="container">
    <div class="brand menu__brand">
      <img src="<%= cluster.icon.url %>" class="brand__image" alt="<%= cluster.alt %>" width="33" height="33"/>
      <h1 class="brand__name">
        <%= image_tag "getninjas.svg", alt: "GetNinjas" %>
        <small><%= cluster.name %></small>
      </h1>
    </div>
  </div>
</nav>
