<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','tagManagerDataLayer','<%= Config::AppSettings.tracking.tag_manager_key %>');
</script>

<noscript>
<iframe src="https://www.googletagmanager.com/ns.html?id=<%= Config::AppSettings.tracking.tag_manager_key %>" height="0" width="0" style="display:none;visibility:hidden"></iframe>
<img src="<%= Config::AppSettings.tracking.collector_url %>/i?e=pv&tv=no-js-0.1.0&aid=GetNinjas&p=web&url=<%= CGI.escape(request.original_url) %>">
</noscript>
