<div class="thumbnail media space-box-medium component col-xs-12">
  <picture class="media__image thumbnail__photo picture picture--cover">
    <source srcset="<%= src_retina %>" media="(min-resolution: 192dpi)" />
    <source srcset="<%= src %>" media="(max-resolution: 191dpi)" />
    <img src="<%= src %>" class="picture__image" alt="<%= alt %>">
  </picture>
  <h3 class="media__title info-title space-element-large"><%= title %></h3>
  <div class="media__description space-element-medium"><%= raw description %></div>
</div>
