<div class="content component">
  <% if object.title.present? %>
    <h3 class="section-title card__title">
      <%= object.title %>
      <% if object.subtitle.present? %>
        <small><%= object.subtitle %></small>
      <% end %>
    </h3>
  <% end %>
  <div class="card__content">
    <%= raw object.body %>
  </div>
</div>
