<%= render "partials/thumbnail_simple",
      src: object.image.url(:_360x170),
      src_retina: object.image.url(:_720x340),
      alt: object.title,
      title: object.title,
      description: object.description
%>
