<div id="gn-request-form-widget" class="space-element-large"></div>

<script src="<%= Config::AppSettings.widget_form_url %>"></script>

<script type="text/javascript">
  GetNinjas.Widgets.RequestForm.init("#gn-request-form-widget", {
    "category" : "<%= object.category.slug %>",
    "partnerid" : "getninjas",
    "width" : "100%",
    "height" : "650px",
    "cssFile" : "<%= object.css_file %>"
  });
</script>
