<section class="page-banner page-banner--over" role="banner">
  <% if object.image.present? %>
    <picture class="picture picture--cover page-banner__picture">
      <source srcset="<%= object.image.url :_1920x560 %>" media="(min-width: 1440px)" />
      <source srcset="<%= object.image.url :_1440x560 %>" media="(min-width: 1024px)" />
      <source srcset="<%= object.image.url :_1024x560 %>" media="(min-width: 768px)" />
      <source srcset="<%= object.image.url :_768x320 %>" media="(max-width: 767px)" />
      <img src="<%= object.image.url :_1024x560 %>" class="picture__image" alt="<%= object.title %>">
    </picture>
  <% end %>

  <header class="page-banner__content" role="sectionhead">
    <h1 class="page-title" arial-level="1" role="heading">
      <%= object.title %>
      <% if object.subtitle.present? %>
        <small><%= object.subtitle %></small>
      <% end %>
    </h1>
  </header>
</section>
