<%= link_to object.url do %>
  <figure class="thumbnail space-element-medium">
    <picture class="picture internal-link__picture">
      <%= image_tag object.image, class: 'internal-link__image', alt: object.title %>
    </picture>
    <figcaption class="thumbnail__button info-title">
      <%= object.title %>
    </figcaption>
  </figure>
<% end %>
