<section class="card component">
  <header class="content-centered">
    <h2><%= object.title %></h2>
  </header>

  <ol class="price-variation" itemscope itemtype="http://schema.org/PriceSpecification">
    <li class="price-variation__item price-variation__item--stacked price-tag">
      <span class="price-tag__label">Preço médio</span>
      <span class="price-tag__value" itemprop="price" content="<%= object.average %>"><%= number_to_currency object.average %></span>
      <span itemprop="priceCurrency" content="BRL"></span>
    </li>
    <li class="price-variation__item price-tag">
      <span class="price-tag__label">Preço mais barato</span>
      <span class="price-tag__value" itemprop="minPrice" content="<%= object.cheap %>"><%= number_to_currency object.cheap %></span>
      <span></span>
      <span class="price-tag__description">É o preço mais barato registrado.</span>
    </li>
    <li class="price-variation__item price-tag">
      <span class="price-tag__label">Maior Preço</span>
      <span class="price-tag__value" itemprop="maxPrice" content="<%= object.expensive %>"><%= number_to_currency object.expensive %></span>
      <span class="price-tag__description">Preço máximo relatado por profissionais</span>
    </li>
  </ol>
</section>
