<% if object.video_id.present? %>
  <section class="component space-box-small">
    <iframe width="100%" src="https://www.youtube.com/embed/<%= object.video_id %>" frameborder="0" class="video-player" allowfullscreen></iframe>
  </section>
<% end %>
