$defaultBreakpoints: (
  xs:  ( columns: 12, size: 420  ),
  sm: ( columns: 12, size: 768  ),
  md: ( columns: 12, size: 960  ),
  large:  ( columns: 12, size: 1200 )
);
$gridGutter: 30;
$gridMargin: 1.25% !default;

@import 'gaiden/mixins/flex';
@import 'gaiden/mixins/media';
@import 'gaiden/mixins/clearfix';
@import 'gaiden/mixins/grid';
@import 'gaiden/mixins/map_deep_get';

@include generate-grid($defaultBreakpoints);

@import 'tools/functions/remove-deep-margins';
@import 'component/*';
@import 'general/gaiden-overwrite';
