.component {
  &--full-horizontal {
    position: relative;
    min-width: 100%;
    height: auto;
    // gutter + card-padding(24px) + - border-size(1px)
    margin-left: remove-deep-margins($gridMargin, -24px + -1px, 1);
    margin-right: remove-deep-margins($gridMargin, -24px + -1px, 1);

    [class*="col-"] & {
      // deep components (row inside rows)
      .content & {
        margin-right: remove-deep-margins($gridMargin, -24px + -1px, 3);
      }

      // deep deep components (row inside rows inside rows)
      [class*="col-"] & {
        .content & {
          margin-right: remove-deep-margins($gridMargin, -24px + -1px, 3);
        }
      }
    }
  }
}
