.footer {
  position: relative;
  bottom: initial;
  left: initial;

  &__brand {
    justify-content: center;

    svg path {
      fill: #D7D7D7;
    }
  }

  &__social-bar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
