.internal-link {
  width: 100%;

  &__picture {
    border-radius: 6px;
    display: block;
    height: 127px;
    overflow: hidden;
    width: 100%;
  }

  &__image {
    min-height: 127px;
    width: 100%;
  }

  .row {
    justify-content: center;
  }
}
