.page-banner {
  height: 330px;
  z-index: -1;

  > .row > [class*='col-'] {
    margin-left: 0;
    width: 100%;
  }

  &__picture {
    background-color: #1272D5;

    img {
      opacity: .2;
    }
  }

  &--over {
    .page-banner__content {
      padding-bottom: 110px;
      position: relative;

      .page-title {
        width: 100%;
      }
    }
  }

  + .page-banner-over {
    margin-top: -79px;
  }
}
