@media screen and (max-width: 960px) {
  .sidebar {
    margin: {
      left: 0;
      right: 0;
      top: 30px;
    }

    &[class*="-12"] {
      width: 100%;
    }
  }
}

@media screen and (min-width: 960px) {
  .sidebar {
    margin-top: -16px;
  }
}
