.thumbnail {
  background-color: #fff;
  border: solid 1px rgba(83,110,123,0.2);
  box-shadow: 0 2px 4px 0 rgba(51, 51, 51, .1);
  padding: 5px 5px 0;
  transition: all .3s ease-in-out;
  width: 100%;

  &__photo {
    img {
      width: 100%;
    }
  }

  &__button {
    background-color: transparent;
    color: #1393f6;
    font-size: 12px;
    padding: 12px 0;
    transform: none;
  }

  &:hover {
    background-color: #1393f6;
    box-shadow: 0 8px 10px 0 rgba(51, 51, 51, .1);
    transform: translateY(-10px);

    .thumbnail__button {
      color: #fff;
    }
  }
}
