.video-player {
  width: 100%;
  height: 235px;

  @media screen and (min-width: map-deep-get($defaultBreakpoints, xs, size) + px) {
    height: 336px;
  }

  @media screen and (min-width: map-deep-get($defaultBreakpoints, sm, size) + px) {
    height: 374px;
  }

  @media screen and (min-width: map-deep-get($defaultBreakpoints, md, size) + px) {
    height: 384px;
  }
}
