<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= yield :head %>

    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <%= render "partials/tag_manager" %>
    <%= yield :page_header %>
    <%= yield %>
    <%= yield :page_footer %>
  </body>
</html>
